<div id="global-container">
  <div id="container">
    <div id="content">
      <%#= render 'hero_slider' %>
<%= render 'house' %>
    </div>
  </div>
</div>
<%#= render 'test/bootstrap' %>
<%#= render 'test/text-animation' %>
<%#= render 'test/scroll-text-animation' %>
