<!--<div id="global-container">-->
<!--  <div id="container">-->
<!--    <div id="content">-->
      <%#= render 'hero_slider' %>

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<%#= render 'test/bootstrap' %>
<%#= render 'test/text-animation' %>

